<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="include/admin/static :: meta('用户')" th:remove="tag"></div>
    <div th:include="include/admin/static :: css" th:remove="tag"></div>
</head>
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
<div th:include="include/admin/header :: header" th:remove="tag"></div>

<div class="page-container">
    <div th:include="include/admin/layout :: sidebar(onevar='customer')" th:remove="tag"></div>
    <div class="page-content-wrapper">
        <div class="page-content">
            <h2 class="page-title">用户</h2>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="portlet light bordered">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="btn group">
                                    <button id="add" class="btn sbold green">
                                        新增<i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-bordered" id="dataTable">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>昵称</th>
                                <th>账号</th>
                                <th>状态</th>
                                <th>备注</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:include="include/admin/footer :: footer" th:remove="tag"></div>
<div th:include="include/admin/static :: js" th:remove="tag"></div>
<div th:src="@{scripts/customer.js}" type="application/javascript"></div>
</body>
</html>